html {background-color: #145374}



 
#splash-screen {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 15%;
}

#welcome-text{
  font-size: 50px;
  color: #FFE484;
}

#welcome-subtext{
  font-size: 22px;
  color: white;
}

#welcome-intro{
  font-size: 17px;
  color: white;

} 

#home-screen {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 2% 10% 0 10%;
}

#home-dropdown{
  /* width: 35%; */
  display: flex;
}

#search-bar{
 padding-left: 10%;
}

#mapcard{
  margin: 2%;
}

#mapcards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}


