html {
  background-color: #145374
}




#splash-screen {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 15%;
}

#welcome-text {
  font-size: 50px;
  color: #FFE484;
}

#welcome-subtext {
  font-size: 22px;
  color: white;
}

#welcome-intro {
  font-size: 17px;
  color: white;

}

#main-screen {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 2% 10% 0 10%;
}

#home-dropdown {
  /* width: 35%; */
  display: flex;
}

#search-bar {
  padding-left: 10%;
}

#mapcard {
  margin: 2%;
}

#mapcards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}


#login-text {
  font-size: 64px;
  color: #FFE484;
}

#signup-text{
  font-size: 48px;
  color: #FFE484;
}

#forgotpassword-text{
  font-size: 48px;
  color: #FFE484;
}

#forgotpassword-subtext{
  font-size: 14px;
  color: white;
  margin-top: 14px;
  margin-bottom: 30px;
}

#emailsent-text{
  font-size: 20px;
  color: #FFE484;
}

#resetpassword-text{
  font-size: 48px;
  color: #FFE484;
  margin-bottom: 40px;
}


#community-screen {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 2% 10% 0 10%;
}



/* .MuiOutlinedInput-notchedOutline {
  border-color: 1px solid white ;
} */

#create-map-screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}